<%- include('../layouts/header'); -%>
<body>
  <div class="main-container the-flex-works">
    <h3 id="signup-header">Sign Up</h3>
    <form id="form" class="the-flex-works" action="/user/signup" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <label for="username">Username: </label>
      <input id="username" type="text" name="username" />
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
<%- include('../layouts/footer'); -%>
