<%- include('../layouts/header'); -%>
<body>
  <h3>Welcome to chat: <%= name %></h3>
  <div id="app">
    {{ text }}
    <ul id="example-1">
      <li v-for="message in messages">
        {{ message.text }}
      </li>
    </ul>
    <div id="message-input-container">
      <input id="message-input" type="text" v-on:keyup="setMessageText" />
      <button v-on:click="createChatMessage">Send Message</button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const channel = window.location.pathname.split("/")[2];

    var app = new Vue({
      el: "#app",
      data: {
        text: "Hello Vue!",
        messages: [],
        messageText: null
      },
      created: function() {
        console.log("Vue's before create running");
        this.fetchChatMessages(`/chat/messages/${channel}`);
      },
      methods: {
        setMessageText(e) {
          this.messageText = e.target.value;
        },
        async fetchChatMessages(path) {
          const {
            data: { messages }
          } = await axios.get(path);
          // console.log("axios result: ", messages);
          this.messages = messages;
        },
        async createChatMessage(text) {
          document.getElementById("message-input").value = "";
          const { status, data } = await axios.post(
            `/chat/messages/${channel}`,
            {
              messageText: this.messageText
            }
          );

          if (status === 201) {
            this.messageText = "";
            this.messages = [...this.messages, data.data];
          }
        }
      }
    });

    var socket = io("http://localhost:4000/");

    socket.on("channel-joined", data => {
      console.log("channel joined: ", data);
    });

    console.log("emitting join-chat");
    socket.emit("join-chat", channel, data => {
      console.log(data);
    });
  </script>
</body>
<%- include('../layouts/footer'); -%>
