<%- include('../layouts/header'); -%>
<body>
  <div class="main-container the-flex-works">
    <div class="chatlobby-inner-container">
        <h1 id="chatlobby-header">Chat Lobby</h1>
        <a id="chatlobby-newchat-link" class="the-flex-works" href="/chat-lobby/new">Create New Chat</a>
        <div id="chatlobby-chatlist-container">
          <% chatList.forEach(function(chat) { %>
          <div class="chatlobby-chat">
            <h3 id="chatlobby-chatname"><%= chat.name %></h4>
            <a class="chat-link" href="/chat/<%= chat.channel %>">Join Chat</a>
          </div>
          <% }); %>
        </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // var socket = io("http://localhost:4000/");

    // socket.on("btnclick-response", data => {
    //   console.log("data from the server: ", data);
    // });

    // socket.on("channel-joined", data => {
    //   console.log("channel joined: ", data);
    // });

    // const chatJoinBtn = document.querySelectorAll(".chat-join-btn");
    // const justOne = document.querySelector(".just-one");

    // justOne.addEventListener("click", e => {
    //   console.log("emitting btnclick");
    //   socket.emit("btnclick");
    // });

    // chatJoinBtn.forEach(btn =>
    //   btn.addEventListener("click", e => {
    //     const { channel } = e.target.dataset;
    //     console.log("the channel: ", channel);
    //     // socket.emit("join-chat")
    //     console.log("emitting ferret");
    //     socket.emit("join-chat", channel, data => {
    //       console.log(data);
    //     });
    //   })
    // );
  </script>
</body>
<%- include('../layouts/footer'); -%>
