<%- include('../layouts/header'); -%>
<body>
  <h1>This is Simple Chat</h1>
    <a href="/user/signup">Sign Up</a>
    <a href="/user/login">Log In</a>
    <a href="/chat-lobby">
      <h3>Go to Chat Lobby</h3>
    </a>
  </form>
</body>
<%- include('../layouts/footer'); -%>
